html {
	box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
	box-sizing: inherit;
  }
  
  // !position fixed
  html {
	min-height: 100%;
	position: relative;
  }

  .wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  }
  
  body { 
	font-family: 'Quicksand', 'Arial', 'Helvetica', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	color: var(--default);
	background-color: #fff;
	
  }
  
  .sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
  }

  .container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
  }

  .title {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	line-height: 1.2;
	color: var(--title);
	text-transform: uppercase;
	display: block;
  }

  .text {
	display: block;
	max-width: 570px;
	
  }
  
  .main {
	flex: 1;
  
  }

  .footer {
	flex-shrink: 0;
  }